<ion-view view-title="Users">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in users" type="item-text-wrap" href="#/tab/chats/{{item.id}}">
        <img ng-src="{{item.details.image}}">
        <h2>{{item.details.email}}</h2>
        <p>{{item.uuid}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(item)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
